@model dynamic

@{
    ViewBag.Title = "NewRentals";
}

<h2>New Rental</h2>

<hr/>

<form id="newRental">

    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customers" name="customer" data-rule-validCustomer="true" type="text" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movies" name="movie" data-rule-atleastOneMovie="true" type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-sm-5">
            <ul id="selected-movie-list" class="list-group"></ul>
        </div>
    </div>


    <button class="btn btn-primary">Submit</button>

</form>


@section scripts
{
  @Scripts.Render("~/bundles/jqueryval");
    <script>
        $(document).ready(function() {

            var vm = {
                "customerId": "",
                "movieIds": []
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customers').typeahead({
                minLength: 2,
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function(e, customer) {
                vm.customerId = customer.id;
            });


            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movies').typeahead({
                minLength: 2,
                highlight: true
            }, {
                name: 'movies',
                display: 'name',
                source: movies
            }).on("typeahead:select", function(e, movie) {
                $("#selected-movie-list").append("<li class='list-group-item disabled'>" + movie.name + "</li>");
                $("#movies").typeahead("val", "");

                vm.movieIds.push(movie.id);
            });

            $.validator.addMethod("ValidCustomer", function() {
                return vm.customerId && vm.customerId !== 0;
            }, "Please select a valid customer");

            $.validator.addMethod("AtleastOneMovie", function() {
                return vm.movieIds && vm.movieIds.length > 0;
            }, "Please select at least one movie");

            var validator = $("#newRental").validate({
                submitHandler: function() {
                    $.ajax({
                            url: "/api/rentals/add",
                            method: "post",
                            data: vm
                        })
                        .done(function() {
                            toastr.success("SUCCESS: New rental is added successfully");

                            $("#customers").typeahead("val", "");
                            $("#movies").typeahead("val", "");
                            $("#selected-movie-list").empty();

                            vm = { "movieIds": [] };

                            validator.resetForm();
                        })
                        .fail(function(response) {
                            toastr.error("ERROR: " + response.responseJSON.message);
                        });

                    return false;
                }
            });

        });
    </script>
}
